.callout[data-callout="code"] {
    --callout-color: 50, 182, 248;
    /* --callout-color: rgb(50, 182, 248); */
    --callout-icon: square-code;
  }

.callout[data-callout="detail"] {
    --callout-color: 173, 152, 193;
    /* --callout-color: rgb(173, 152, 193); */
    --callout-icon: square-square;
  }

.callout[data-callout="explain"] {
  /* --callout-color: rgb(145, 201, 115); */
    --callout-color: 145, 201, 115;
    --callout-icon: circuit-board;
  }

.callout[data-callout="addition"] {
  /* --callout-color: rgb(144, 184, 204); */
    --callout-color: 144, 184, 204;
    --callout-icon: square-plus;
  }

.callout[data-callout="theorem"] {
  /* --callout-color: rgb(191, 199, 120); */
    --callout-color: 191, 199, 120;
    --callout-icon: type;
  }

.callout[data-callout="danger"] {
    --callout-icon: octagon-alert;
  }

.callout[data-callout="tip"] {
    --callout-icon: box;
    --callout-color: 144, 184, 204;
  }



