
/* Добавляется маргин снизу для заголовков h1, h2, h3 */
.internal-embed :is(h1, h2, h3) {
    margin-bottom: 0.5em;
}

/* Значок линка появляется только при наведении на встроенную область */
.internal-embed:not(:hover) .markdown-embed-link {
  display: none;
}

/* Возможность скрывать имя файла и таблицу метаданных */
.internal-embed[alt*="no-t"] .markdown-embed-title,
.internal-embed[alt*="no-t"] .obsidian-metatable {
    display: none;
}



/* Убирается паддинг слева для встроенной области путем сдвига контента влево */

/* .markdown-rendered .markdown-embed-content {
    margin-left: -4.0em !important;
} */

/* другой способ исправления паддинка */
/* 
.internal-embed .markdown-reading-view .markdown-preview-view {
    padding-left: 1em !important;
} */


/* Возможность скрывать все(!) заголовки */
.internal-embed[alt~=no-h] .markdown-embed :is(
h1,
h2,
h3,
h4,
h5,
h6),
.internal-embed[alt~=no-h].markdown-embed :is(
h1,
h2,
h3,
h4,
h5,
h6) {
  display: none;
}

/* Возможность скрывать заголовки определенного уровня*/
.internal-embed[alt~=no-h1] .markdown-embed h1,
.internal-embed[alt~=no-h2] .markdown-embed h2,
.internal-embed[alt~=no-h3] .markdown-embed h3,
.internal-embed[alt~=no-h4] .markdown-embed h4,
.internal-embed[alt~=no-h5] .markdown-embed h5,
.internal-embed[alt~=no-h6] .markdown-embed h6,
.internal-embed[alt~=no-h1].markdown-embed h1,
.internal-embed[alt~=no-h2].markdown-embed h2,
.internal-embed[alt~=no-h3].markdown-embed h3,
.internal-embed[alt~=no-h4].markdown-embed h4,
.internal-embed[alt~=no-h5].markdown-embed h5,
.internal-embed[alt~=no-h6].markdown-embed h6 {
  display: none;
}


/* --------------------------------------------------------------------- */


.markdown-preview-view .markdown-embed-content,
.markdown-preview-view .markdown-embed-content > .markdown-preview-view { 
  max-height: unset;
  padding: 0 !important; /* !important for "Pisum" theme */
  margin: 0;
  border: 0;
}

/* remove <br> between internal embeds */
.markdown-preview-section div > br {
  display: none;
}

/* remove vertical space added by markdown-preview-sizer */
 div.markdown-preview-sizer.markdown-preview-section {
  min-height: unset !important;
  padding-bottom: 0 !important;
}

/* special considerations for printing (PDF export) */
@media print {

  /* remove frontmatter box if "Show frontmatter" was enabled */
  /* Also remove metadata table from "Metatable" plugin */
  pre.frontmatter,
  .obsidian-metatable {
    display: none;
  }
}

/* Стилизация встроенной области */
.markdown-embed {
  border-inline-start: none;
  background-color: rgba(127, 127, 127, 0.1);
  padding: 0.5em !important;
  border: solid 1px rgba(127, 127, 127, 0.1);
  box-shadow: 1px 1px 10px 3px rgba(127, 127, 127, 0.1);
}

/* remove border and scroll */
/* unfortunately needs !important for some themes */
/* .markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
} */